/* ========================================= General styles ======================================*/
/*@font-face {
    font-family: 'FontFamilyLogo';
    src: url('../fonts/goodtime-webfont.woff2') format('woff2'),
         url('../fonts/goodtime-webfont.woff') format('woff'),
         url('../fonts/goodtime-webfont.ttf') format('truetype'),
         url('../fonts/goodtime-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FontFamilySPro';
    src: url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
body{
    font-family: Arial;
    line-height: 1.5;
    font-size: 1.4em;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff;
}
nav{
    width: 100%;
    position: fixed;
    top: 0px;
    background-color:  rgb(4, 117, 98);
    box-shadow: 2px 0px 7px #000;
	z-index: 50;
}
.contenedor-tabla{
    display: table;
    width: 100%;
}
.contenedor-tr {
  display: table-row;
  width: 100%;
}
.contenedor-tr > a{
	text-decoration: none;
	color: #fff;
}
.contenedor-tr > a:hover{
	background-color: rgba(255, 255, 255,.1);
    transition: background-color .4s ease-in;
}
.contenedor-tr > a:last-child{
	border-right: 1px solid rgba(255, 255, 255,0.3);
}
.table-cell-td {
  display: table-cell;
  padding: 20px 7px;
  border-left: 1px solid rgba(255, 255, 255,0.3);
  text-align: center;
  width: 20%;
}
.table-cell-td:focus{
	outline: none;
}

.text-navbar{
    color: #fff;
    font-size: 19px;
    float: left;
    margin-left: 2%;
    margin-top: 15px;
}
#mobile-menu-list{
	display: none;
}
section{
    width: 100%;
    margin: 0px;
    padding: 90px 0px;
}
article{
    width: 100%;
    margin: 0px;
    padding: 10px;
}
footer{
    width: 100%;
    color: #fff;
    background-color: #333;
    padding: 40px 0px;
}
.text-footer{
    color: rgb(4, 117, 98);
}
footer a{
    color: #fff;
}
.tittles-pages-logo{
    font-family: Helvetica;
}
.center-all-contens{
    margin-left: auto;
    margin-right: auto;
}
.ResbeforeSend{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    z-index: 99999;
}
.container-form-admin{
    border: 1px solid #e0e1e1 !important;
    border-radius: 4px;
    padding: 10px;
    margin-top: 25px;
}
/* ========================================= index styles ======================================*/
#container-page-index{
    background-color: #fff;
}

#reg-info-index{
    border-top: 1px solid rgba(183, 165, 165,.2);
}
#distribuidores-index{
    background-color: rgba(186, 188, 171,.87);
    color: #000;
}
/* ========================================= product styles ======================================*/
#container-page-product{
    background-color: #fff;
}
#store, #infoproduct, #container-pedido{
    min-height: 900px;
}
.img-product{
    max-height: 250px;
    display: block;
    margin: 0 auto;
}
/* ========================================= registration styles ======================================*/
#container-page-registration{
    background-color: #fff;
}
#form-registration{
    min-height: 900px;
    padding-top: 120px;
}
#container-form{
    padding: 20px;
    border-radius: 7px;
    border: 2px dashed rgba(13, 167, 90, 0.568);
}
/* ========================================= configAdmin styles ======================================*/
#container-page-configAdmin{
    background-color:#fff;
}
#prove-product-cat-config{
    background-color: #fff;
    min-height: 900px;
}